﻿@model WebApp.Models.HomeIntro

<hr />
@*<div class="comments" style="background-color:aqua">*@
<div class="comments" style="background-color:">
<h4>@Model.RichText</h4>
<div><strong>Detail</strong> Index</div>
</div>

@*<header>
        <div>
            <h1>@Model.RichText</h1>
        </div>
    </header>*@