﻿@model WebApp.Models.PromotionModel

@using (Html.BeginForm())
{
    <fieldset>
        <legend>
            @Model.Title
        </legend>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
        </div>        
        <input type="submit" value="Send"/>
        @* To Do: create field on item *@
    </fieldset>
}