﻿@model WebApp.Models.EventDetail


@*@Html.Sitecore().Rendering("/sitecore/layout/Renderings/MOB/Home/Home Intro")*@

<head>
    <style>
        .fig {
            text-align: center;
        }
    </style>
</head><hr />
<div>
    @*<h2 style="color:dodgerblue">@Model.Title</h2>*@
    <h3 class="fig" style="color:dodgerblue">@Model.SubTitle</h3>
    <div class="fig">
        @Model.Image
    </div>
    <h4 class="fig" style="color:dodgerblue">
        @Model.ProgramOverview
    </h4>
    <br>
    <div>
        @Model.ProgramOverviewDescription
    </div>
    <br>
    <h3 class="fig" style="color:dodgerblue">
        @Model.Specifications
    </h3><br>
    <h4 style="color:dodgerblue">
        @Model.GroupSize
    </h4>
    <div>
        @Model.GroupSizeDescription
    </div><br>
    <h4 style="color:dodgerblue">
        @Model.TimeNeeded
    </h4>
    <div>
        @Model.TimeNeededDescription
    </div><br>
    <h4 style="color:dodgerblue">
        @Model.SpaceRequirmenta
    </h4>
    <div>
        @Model.SpaceRequirmentaDescription
    </div><br>
    <h4 style="color:dodgerblue">
        @Model.IdealFor
    </h4>
    <div>
        @Model.IdealForDescription
    </div>
    <br>
    <h4 style="color:dodgerblue">
        @Model.Tailoring
    </h4>
    <div>
        @Model.TailoringDescription
    </div>

</div>

@*<header>
        <div>
            <h1>"Event Detail Index"</h1>
        </div>
    </header>*@
