﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<head>
    <style>
        .fig {
            text-align: center;
        }
    </style>
</head>
<div>
    <h2 class="fig">@Html.Sitecore().Field("Title")</h2>
    <div class="fig">
        @Html.Sitecore().Field("Image", new { mw = 300 })
    </div> 
    <div class="fig">
        @Html.Sitecore().Field("Program Overview Short")
    </div>       
</div>
