﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div>
    <table class="table" style="width: 80%" back>
        <tr>
            <td width="50%">
                <div>
                    @Html.Sitecore().DynamicPlaceholder("preview-1")
                </div>
            </td>
            <td>
                <div>
                    @Html.Sitecore().DynamicPlaceholder("preview-2")
                </div>
            </td>
        </tr>
    </table>
</div>


