﻿@model WebApp.Models.EventList

<hr />
<div class="comments">
    <h4>Event List Index</h4>
    <div><strong>List</strong> Index</div>
</div>




@*<hr />
    <div class=" ">
    <header>
        <div>
            <h1>"Event List Index"</h1>
        </div>
    </header>*@