﻿@model WebApp.Models.QuotationModel
@using (Html.BeginForm())
{
    <fieldset>
        <legend>
            Enter text
        </legend>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Review)
        </div>
        <input type="submit" value="Send" />
        @* To Do: create field on item *@
    </fieldset>
}