﻿@model WebApp.Models.NavigationModel

@*<hr />
    <div class="comments" style="background-color:aqua">
    <div class="comments" style="background-color:">
        <h4>navigation</h4>
        <div><strong>Detail</strong> Index</div>
    </div>*@


<html>
<head>
    @*<style type="text/css">
        #contenttable {
            margin-right: 111px;
            padding: 10px;
            border-right: 1px dashed #183533;
            color: aqua;
        }
    </style>*@
</head>
<body>
    @*<div id="contenttable">*@
    <ul>

        @if (@Model.Parent.Name != "content")
        {

            <li  >
                <a href="/~/link.aspx?_id=@Model.Parent.ID.ToString().Trim('{','}')&amp; _z = z">Back to @Model.Parent.Name </a>
            </li>
            <br>
        }

        @if (Model.Сhildren != null && Model.Сhildren.Count != 0)
        {
            for (int a = 0; a < @Model.Сhildren.Count; a++)
            {
                <li>
                    <a href="/~/link.aspx?_id=@Model.Сhildren.InnerChildren[a].ID.ToString().Trim('{','}')&amp; _z = z">@Model.Сhildren.InnerChildren[a].Name </a>
                </li>
            }
        }
        else
        {
            <li> end </li>
        }
    </ul>
    @*</div>*@
</body>
</html>
